@import "disable.css";

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

li {
  p {
    font-weight: 300;
  }
}

h4 {
  font-weight: 400;
}

.product {
  margin-top: 91px;

  .prod-container {
    overflow: hidden;
    max-width: 1586px;
    margin-left: 200px;
    margin-right: 37px;


    .product-image {
      max-width: 694px;
      height: auto;
      margin-bottom: 94px;
    }

    .mobile-lift-up-block {
      display: none;
    }

    .carousel-mobile-dots {
      display: none;

      span {
        background: transparent;
        border: 1px solid #FFFEFE;
        width: 19px;
        height: 19px;
        display: inline-block;
        text-align: center;
        margin: 0 29px 0 !important;
        border-radius: 50%;

        &.active {
          background-color: #81D8D0;
        }
      }
    }

    .product-description {
      margin-top: 20px;

      .mob-chevron-button {
        display: none;
      }

      .mobile-price-prod-name {
        .product-name {
          p {
            font-size: 22px;
            color: #5E5E5E;
            margin-bottom: 17px;
          }

          h4 {
            font-size: 30px;
            color: #FFF9F9;
            margin-bottom: 23px;
          }
        }

        .price {
          margin-bottom: 39px;

          p {
            font-weight: 300;
            font-size: 25px;
            color: #FFFFFF;
          }
        }
      }


      .colors-sizes {
        .colors {
          margin-bottom: 39px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;

          .color-name-mobile {
            display: none;
          }

          .color-group {
            display: flex;
            flex-direction: row;

            .color {
              &.active {
                .color-circle {
                  border: 1px solid #81D8D0DE;
                  border-radius: 50px;
                  padding: 7px;
                }
              }

              .color-name {
                span {
                  font-weight: 400;
                  font-size: 20px;
                  color: #FFFFFF;
                  display: block;
                  margin-bottom: 10px;
                  font-family: 'Rubik';
                  font-style: normal;
                }
              }

              .color-circle {
                width: 56px;
                height: 56px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-right: 45px;

                span {
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;

                  &.color-gold {
                    background: #D8B69A;
                  }

                  &.color-yellow {
                    background: #cdd89a;
                  }

                  &.color-white {
                    background: #FFFFFF;
                  }

                  &.color-blue {
                    background: #9ab7d8;
                  }

                  &.color-black {
                    background: #343434;
                  }

                  &.color-purple {
                    background: #ac9ad8;
                  }
                }
              }
            }
          }
        }

        .sizes {
          max-width: 616px;

          .container-sizes {
            width: 100%;
            border-top: 1px solid #81D8D0DE;

            h4 {
              margin-top: 38px;
              font-weight: 300;
              font-size: 28px;
              color: #FFFFFF;
              margin-bottom: 74px;
            }

            ul {
              list-style-type: none;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              margin-bottom: 66px;
              padding: 0;

              li {
                margin-right: 80px;
                width: 47px;
                height: 47px;
                line-height: 47px;
                background: #101010;
                -webkit-box-shadow: 0px 3px 16px rgba(253, 239, 239, 0.25);
                box-shadow: 0px 3px 16px rgba(253, 239, 239, 0.25);
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-bottom: 12px;

                p {
                  font-family: 'Rubik';
                  font-weight: 300;
                  font-size: 25px;
                  color: #FFFFFF;
                }
              }
            }
          }
        }
      }

      .orderProductButton {
        button {
          border: 1px solid rgba(140, 231, 222, 0.89);
          padding: 24px 94px;
          background: #81D8D0E3;
          font-family: 'Rubik';
          font-weight: 300;
          font-size: 26px;
          -webkit-transition: 0.3s linear;
          -o-transition: 0.3s linear;
          transition: 0.3s linear;
          color: rgba(248, 255, 254, 0.87);
          margin-top: 5%;

          &:hover {
            border: 1px solid #FFFFFF;
            background: transparent;
          }
        }
      }
    }

    .mobile-enable {
      display: none;
    }
  }

  .secondary-information-block {

    .three-tabs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 90px;
      max-width: 794px;

      ul.nav-pills {
        margin-bottom: 74px;


        li.nav-item {
          margin-right: 56px;

          .nav-link {
            background-color: transparent;
            border-radius: 0;
            color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
            -webkit-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear;

            &.active {
              padding-bottom: 0;
              border-bottom: 1px solid #81D8D0;
            }
          }
        }
      }

      #pills-tabContent {

        .tab-pane {
          &#podrobnosti {
            max-height: 600px;
            overflow: hidden;

            ul {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;

              li {
                max-width: 345px;
                font-size: 18px;
                margin-bottom: 10px;
                margin-right: 25px;
                color: #F3E9E9;
              }
            }
          }


          p {
            font-weight: 400;
            font-size: 18px;
            color: #FFFCFC;
            text-align: center;
          }
        }
      }


    }

    .additional-images {
      .block-of-images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;


        .additional-image {
          margin-bottom: 128px;
          margin-right: 60px;
          max-height: 508px;
          max-width: 400px;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1025px) {
  .product .prod-container {
    max-width: 1586px;
    margin-left: 150px;
    margin-right: 30px;

    .product-description {
      .colors-sizes .sizes .container-sizes {
        h4 {
          margin-bottom: 44px;
        }

        ul {
          list-style-type: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 36px;
          padding: 0;

          li {
            margin-right: 12%;
            margin-bottom: 12px;
          }
        }
      }

      .orderProductButton button {
        border: 1px solid rgba(140, 231, 222, 0.89);
        padding: 14px 94px;
        background: #81D8D0E3;
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 26px;
        -webkit-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
        color: rgba(248, 255, 254, 0.87);
      }
    }
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  .product {
    margin-top: 61px;

    .prod-container {
      max-width: 1586px;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  .product-image {
    margin-top: 81px;
  }

  .secondary-information-block {
    margin-top: 86px;
  }
  .product .prod-container .product-description .colors-sizes .sizes .container-sizes ul li {
    margin-right: 9%;
    margin-bottom: 12px;
  }
  .product .secondary-information-block .additional-images .block-of-images .additional-image {
    margin-bottom: 128px;
    margin-right: 2%;
    max-height: 508px;
    max-width: 50%;
  }
}

@media only screen and (max-width: 426px) {
  .mobile-lift-up-block {
    display: block !important;
    padding: 25%;
  }
  .product {
    margin-top: 0;
  }
  .product-image {
    margin-top: 0;
    height: 560px;
    margin-bottom: 0 !important;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .prod-container {
    margin: 0 !important;
    position: relative;
  }
  .additional-images {
    display: none;
  }
  .carousel-mobile-dots {
    display: block !important;
    position: absolute;
    top: 25%;
    right: -27%;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg);
  }
  .remove-relative {
    position: static !important;
  }

  .product-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #EFEBEB;
    border-radius: 39px 39px 0 0;
    padding: 15px;
    width: 100%;

    &.active {
      top: 8%;
    }

    .mob-chevron-button {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .mobile-chevron {
        border: none;
        width: 47px;
        height: 27px;

        img {
          height: 100%;
        }
      }
    }
  }
  .secondary-information-block {
    background: #EFEBEB;
    display: none;
    margin-top: 0 !important;
    padding: 0 20px 40px;

    &.active {
      display: block;
      position: relative;
    }
  }

  .mobile-price-prod-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    .product-name {
      width: 60%;

      h4 {
        margin-bottom: 13px !important;
        color: #5E5E5E !important;
      }

      p {
        font-size: 16px !important;
        margin-bottom: 2px;
      }
    }

    .price {
      width: 40%;
      text-align: right;

      p {
        font-weight: 500 !important;
        color: #30877F !important;
        font-size: 25px;
      }
    }
  }
  .colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 17px !important;
    flex-wrap: nowrap !important;

    .color-name-mobile {
      display: block !important;
      margin-right: 15px;

      p {
        color: #4C5251;
        font-size: 16px;
        font-weight: 300;
      }
    }

    .color-group {
      display: flex;
      flex-wrap: wrap;

      .color {
        width: 15%;
        margin-right: 10%;

        .color-name {
          span {
            font-size: 14px !important;
            color: #606564 !important;
            font-weight: 400 !important;
          }
        }

        .color-circle {
          width: 42px !important;
          height: 42px !important;
          border-radius: 50%;

          span {
            width: 26px !important;
            height: 26px !important;
          }
        }
      }
    }
  }
  .sizes {
    .container-sizes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-top: none !important;
      margin-bottom: 0;

      h4 {
        font-size: 16px !important;
        color: #4C5251 !important;
        margin: 0 !important;
      }

      ul {
        width: 80%;
        margin-bottom: 0 !important;

        li {
          width: 31px !important;
          height: 31px !important;
          line-height: 31px !important;
          background: #EFEBEB !important;
          -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;

          p {
            font-size: 19px !important;
            color: rgba(79, 91, 90, 0.87) !important;
          }
        }
      }
    }
  }

  .orderProductButton {
    display: none !important;

    &.active {
      display: block !important;
    }

    .order-btn {
      background: #639A95;
      border-radius: 16px;
      width: 100%;
      padding: 8px 24px;
    }
  }
  .three-tabs {
    margin-bottom: 0 !important;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0 !important;

      li {
        margin-bottom: 10px;
      }
    }
  }
  .tab-pane {
    display: none;

    li {
      color: #5E5959;
    }
  }

  .tab-pane.active {
    display: block;
  }
  .item-wrapper {
    p {
      color: #5E5959;
    }

    li.nav-item {
      list-style: none;

      a {
        color: #000000;
        font-size: 16px !important;
      }
    }

    ul {
      list-style-type: disc;
    }
  }

  .col-md-6, .col-12 {
    margin: 0 !important;
    padding: 0;
  }
  .tab-content-wrapper {
    width: 100%;
  }
  .product-description.active ~ .product-image {
    margin-bottom: 0;
  }
  .product .secondary-information-block .three-tabs ul.nav-pills {

  }
}

@media only screen and (max-width: 376px) {
  .carousel-mobile-dots {
    right: -30%;
  }
}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}