@import "media-query.css";
@import "disable.css";

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Alex Brush', cursive;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
}

li {
  p {
    font-weight: 300;
  }
}

h4 {
  font-weight: 400;
}

.header {
  padding: 12px 52px 12px 52px;
  background-color: rgba(38, 34, 34, 0.73);
  width: 100%;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;

  &.sticky-nav {
    position: fixed !important;
    top: 0 !important;
    z-index: 10;
  }


  .burger-logo-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    z-index: 46;
    width: 20%;
    height: 80px;

    &.openedMenu {
      position: sticky;
    }

    .burgerIcon {
      margin-right: 46px;

      &.openedMenu {
      }

      .TopLine, .BotLine, .MidLine {
        width: 24px;
        height: 3px;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        transition: 0.5s linear;
      }

      .TopLine.openedMenu {
        -webkit-transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
        transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

      }

      .BotLine.openedMenu {
        -webkit-transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
        transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      .MidLine {
        width: 13px;

        &.openedMenu {
          display: none;
        }
      }
    }

    .logoIcon {
      width: 200px;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding-bottom: 26px;


      &.openedMenu {
      }

      a {
        max-width: 100%;
        height: 100%;

        img {
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }

  .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;


    .burger-container-wrapper {
      position: fixed;
      display: none;
      height: 100%;
      max-width: 450px;
      z-index: 12;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #050505E8;

      .mobile-header-opened {
        display: none;
      }

      .nav-content-container {
        position: absolute;
        list-style-type: none;
        top: 105px;
        left: 61px;

        .nav-items {
          margin-bottom: 15px;
          cursor: pointer;

          .mobile-menu-dress-pic {
            display: none;
          }

          a {
            font-size: 34px;
            color: #F6FCFB;
            -webkit-animation: ease-out 300ms;
            animation: ease-out 300ms;

            &:hover {
              color: #81d8d0;
              text-decoration: none;
            }
          }
        }
      }

      &.openedMenu {
        display: block;
      }
    }

    .language-switcher {
      .langbtn {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 25px;
        position: relative;
        -webkit-transition: 0.6s ease-in-out;
        -o-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;

        &:hover {
          color: #81D8D0DE;
        }
      }

      .sub-menu {
        list-style-type: none;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        position: absolute;
        right: 30px;
        width: 100px;

        background: rgba(151, 145, 145, 0.06);
        border-radius: 5px;
        z-index: 5;

        &.show {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }


        li {
          font-size: 23px;
          text-align: center;
          width: 100%;
          -webkit-transition: 0.5s linear;
          -o-transition: 0.5s linear;
          transition: 0.5s linear;
          color: white;

          a {
            text-decoration: none;
            font-size: 23px;
            text-align: center;
            width: 100%;
            -webkit-transition: 0.5s linear;
            -o-transition: 0.5s linear;
            transition: 0.5s linear;
            color: white;
          }

          &:hover {
            background: #81D8D094;
          }

          &.active {
            background: #81D8D094;
          }
        }
      }
    }

  }
}


footer {
  border-top: 1px solid #FFFFFF;
  padding: 1.2rem 0;

  .container {
    padding-top: 1.2rem;

    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1em;

      .logoIcon {
        width: 100%;
        max-width: 340px;
        height: auto;
        margin-bottom: 3.5rem;
      }

      .SocialMedias {
        width: 100%;

        .socialsList {
          list-style-type: none;
          display: flex;
          justify-content: center;
          gap: 7%;

          li {
            height: 3.3rem;
            width: 3.3rem;
            transition: 0.3s linear;

            &:hover {
              transform: translateY(-0.3rem);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 10%;
        }
      }

      .burger-container-wrapper {
        .nav-content-container {
          top: 105px;
        }

        &.openedMenu {
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .header_container {
      .burger-logo-elements {
        .logoIcon.openedMenu {
          left: 13%;
        }
      }
    }
  }
  footer {
    .socialsList {
      gap: 3%;
    }
  }
}

@media only screen and (max-width: 426px) {
  .header {
    padding: 12px 22px 12px 22px;


    .header_container {


      .burger-logo-elements {
        width: 50%;

        .burgerIcon {
          margin-right: 20px;
        }

        .logoIcon {
          width: 130px;
          padding-bottom: 20px;

          &.openedMenu {
            top: 5%;
            left: 24%;

          }
        }
      }


      .burger-container-wrapper {
        background: #0D0C0C;
        overflow-x: hidden;
        overflow-y: scroll;

        .mobile-header-opened {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 12px 22px 12px 22px;
          background-color: rgba(38, 34, 34, 0.73);
          width: 100%;
          -webkit-transition: all 0.4s linear;
          -o-transition: all 0.4s linear;
          transition: all 0.4s linear;

          .burger-logo-elements-mobile {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            z-index: 3;

            .burgerIconMobile {
              margin-right: 22px;

              .TopLine {
                width: 24px;
                height: 3px;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 5px;
                cursor: pointer;
                -webkit-transition: 0.5s linear;
                -o-transition: 0.5s linear;
                transition: 0.5s linear;
                -webkit-transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
                transform: translate3d(0px, 4px, 0px) rotateZ(45deg);
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
              }

              .MidLine {
                display: none;
              }

              .BotLine {
                width: 24px;
                height: 3px;
                border-radius: 10px;
                background-color: white;
                margin-bottom: 5px;
                cursor: pointer;
                -webkit-transition: 0.5s linear;
                -o-transition: 0.5s linear;
                transition: 0.5s linear;
                -webkit-transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
                transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
              }
            }

            .logoIcon {
              width: 130px;
              padding-bottom: 20px;
              height: auto;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: end;
              -ms-flex-align: end;
              align-items: flex-end;
            }
          }

          .language-switcher-mobile {
            .langbtnMobile {
              background-color: transparent;
              color: white;
              border: none;
              font-size: 25px;
              position: relative;
              -webkit-transition: 0.6s ease-in-out;
              -o-transition: 0.6s ease-in-out;
              transition: 0.6s ease-in-out;

              &:hover {
                color: #81D8D0DE;
              }
            }

            .sub-menu {
              list-style-type: none;
              display: none;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              padding-left: 0;
              position: absolute;
              right: 30px;
              width: 100px;
              background: rgba(151, 145, 145, 0.06);
              border-radius: 5px;
              z-index: 5;

              &.show {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
              }

              li.languageElem {
                font-size: 23px;
                text-align: center;
                width: 100%;
                -webkit-transition: 0.5s linear;
                -o-transition: 0.5s linear;
                transition: 0.5s linear;
                color: white;

                &.active {
                  background: #81D8D094;
                }
              }
            }
          }
        }


        .nav-content-container {
          padding: 0 6px 0;
          position: relative !important;
          left: 0 !important;
          top: 14px;

          .nav-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border: 1px solid #000000;
            font-family: 'Alex Brush', sans-serif;
            font-weight: 400;
            color: #FFFFFF;
            padding: 49px 0;

            a {
              margin-right: 24px;
              font-size: 43px;
            }


            .mobile-menu-dress-pic {
              display: block;

              img {
                width: 126px;
              }
            }
          }
        }
      }
    }
  }
  footer .container .footer-content .SocialMedias .socialsList {
    padding: 0;
    gap: 5%;
  }
}

@media only screen and (max-width: 376px) {
  .header .header_container .burger-container-wrapper .nav-content-container {
    left: 0 !important;
  }
  footer .container .footer-content {
    .logoIcon {
      max-width: 220px;
    }

    .SocialMedias .socialsList li {
      margin-right: 1%;
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@media only screen and (max-width: 361px) {

}