@import "disable.css";

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Rubik', sans-serif;
}

.forms-container {
  margin-top: 63px;
  background: #151414;
  border: 1px solid #FFFEFE;
  padding: 52px 194px;
  margin-bottom: 316px;

  .forms-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h4 {
      font-weight: 300;
      font-size: 40px;
      text-transform: uppercase;
      color: rgba(235, 247, 246, 0.87);
      margin-bottom: 34px;
    }

    p {
      font-weight: 300;
      font-size: 27px;
      text-align: center;
      color: #C3BABA;
      margin-bottom: 66px;
    }
  }

  .contactForm {
    .form-group {
      input {
        background: #131313;
        border: 1px solid #FFFFFF;
        border-radius: 0;
        padding: 28px 16px;
        font-size: 23px;
        font-family: 'Rubik';
        font-weight: 300;
        margin-bottom: 22px;
        color: #7B7575;

        &::placeholder {
          color: #7B7575 !important;
        }
      }

      button {
        border: 1px solid rgba(140, 231, 222, 0.89);
        padding: 26px 94px;
        text-transform: uppercase;
        background: rgba(129, 216, 208, 0.87) !important;
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 26px;
        -webkit-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
        color: rgba(248, 255, 254, 0.87);
        border-radius: 0;
        width: 100%;
        margin-top: 34px;
        line-height: 2%;

        &:hover {
          border: 1px solid #FFFFFF;
          background: transparent !important;
        }
      }
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 426px) {
  .forms-container {
    background: transparent;
    border: 0;
    padding: 52px 22px;
    margin-bottom: 116px;

    .contactForm {
      .form-group {

        input {
          &::placeholder {
            color: #7B7575 !important;
          }
        }

        button {
          padding: 11px 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {

}

@media only screen and (max-width: 361px) {

}

@media only screen and (max-width: 320px) {

}